{% extends 'events/base.html' %}
{% block title %}{{ event.name }}{% endblock %}
{% block pagetitle %}{{ event.name }}{% endblock pagetitle %}
{% block content %}
<div class="row">
    <div class="col-sm-10">
        <div class="well">
            <p>It's Fragforce time!...</p>

            <div><b>Event Name: </b>{{ event.name }}</div>
            <div>
                {{ }}
                {{ event.event_information__c }}
            </div>
            {% if event.event_start_date__c %}
                <div class="event_info">
                    <b>Event Start:</b>
                    {% autoescape false %}
                        {{ event.event_start_date__c|localtime }}
                    {% endautoescape %}
                </div>
            {% endif %}

            {% if event.event_end_date__c %}
                <div class="event_info">
                    <b>Event Ends:</b>
                    {% autoescape false %}
                        {{ event.event_end_date__c|localtime }}
                    {% endautoescape %}
                </div>
            {% endif %}

            {% if event.event_address_lookup__c %}
            <div class="event_info">
                <b>Event Location:</b>
                <p>
                    {{ event.event_address_lookup__c }}
                </p>
            </div>
            {% endif %}

            {% if event.volunteerforce_link__c %}
                <div class="event_info">
                    <b><a href="{{ event.volunteerforce_link__c }}">Volunteer Force</a></b> <i>(SFDC Internal Only)</i>
                </div>
            {% endif %}

            {% if event.open_for_preregistration__c %}
            <div class="event_info">
                <b><a href="{{ event.prereg_url__c }}">Pre-Registration URL</a></b>
            </div>
            {% endif %}

            {% if event.stream_recording_link__c %}
            <div class="event_info">
                <b><a href="{{ event.stream_recording_link__c }}">Stream Recording</a></b>
            </div>
            {% endif %}

            {% if event.participant_count__c > 0 %}
            <div><b>Registered Participants: </b>{{ event.participant_count__c }}</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
