{% extends 'events/base.html' %}
{% block title %}{{ event.name }} On {{ event.event_start_date__c }}{% endblock %}
{% block pagetitle %}{{ event.name }} On {{ event.event_start_date__c }}{% endblock pagetitle %}
{% block content %}
<div class="row">
    <div class="col-sm-8">
        <div class="well">
            <p>It's Fragforce time!...</p>

            <div><b>Event Name: </b>{{ event.name }}</div>

            {% if event.use_secondary_address %}
                {% if account.shippingstreet %}
                <div class="event_info">
                    <b>Event Location:</b> {{account.shippingstreet}}
                </div>
                {% endif %}
            {% else %}
                {% if account.billingstreet %}
                <div class="event_info">
                    <b>Event Location:</b> {{account.billingstreet}}
                </div>
                {% endif %}
            {% endif %}

            {% if event.event_start_date__c %}
            <div class="event_info">
                <b>Event Start:</b> {{event.event_start_date__c}}
            </div>
            {% endif %}

            {% if event.event_end_date__c %}
            <div class="event_info">
                <b>Event Ends:</b> {{event.event_end_date__c}}
            </div>
            {% endif %}

            {% if event.hours_per_day and event.number_days %}
            <div class="event_info">
                Event lasts for {{event.number_days}} day{% if event.number_days >1%}s{%endif%}, for {{event.hours_per_day}} hours each day!
            </div>
            {% elif event.hours_per_day %}
            <div class="event_info">
                Event lasts for <b>{{event.hours_per_day}} hours</b> per day.
            </div>
            {% endif %}
            {% if event.start_location %}
            <div class="event_info">
                Meet at <b>{{event.start_location}}</b> to get started at the event!
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
