{% extends 'events/base.html' %}
{% block title %}{{ event.name }} On {{ event.event_start_date__c }}{% endblock %}
{% block pagetitle %}{{ event.name }} On {{ event.event_start_date__c }}{% endblock pagetitle %}
{% block content %}

<div class="row">
  <div class="col-sm-8">
    <div class="well">
 FIXME
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well">
      {% if site.description %}
      <div class="event_info">
        Site Description: {{ site.description }}
      </div>
      {% endif %}
      {% if event.event_start_date__c %}
      <div class="event_info">
        Event starts at: {{ event.event_start_date__c }}
      </div>
      {% endif %}
  </div>
</div>
<div class="row"><br /></div>
{% if images %}
<div class="row text-center" id="links">
  {% for image in images %}
  <div class="col-lg-3 col-sm-4 col-xs-6 text-center">
    <a href="{{ url_for('images.fit', filename=image, width=2048) }}" data-gallery>
      <img class="img-responsive well" src="{{ url_for('images.fit', filename=image, width=400) }}" />
    </a>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
