{% extends 'base.html' %}
{% block title %}Fragforce Events{% endblock %}
{% block content %}
  <object type='image/svg+xml' data="{{ url_for('static', filename='images/fragforce_basic_white_fill.svg') }}" width="800"><img src="{{ url_for('static', filename='images/fragforce_basic.png') }}" /></object>
  <h3>Events</h3>
  <p>Fragforce is working hard to bring these events to you! Please check out our schedule of upcoming events, or browse our past events to get an idea of how these went in the past!</p>
{% endblock %}
