{% extends 'events/base.html' %}

{% if page.title %}
  {% block title %}
    {{ page.title }}
  {% endblock title %}
{% endif %}

{% if page.alert %}
  {% block alert %}
    {{ page.alert }}
  {% endblock alert %}
{% endif %}

{% if page.pagetitle %}
  {% block pagetitle %}
    {% if page.date %}
      {{ page.pagetitle }} - {{ page.date }}
    {% else %}
      {{ page.pagetitle }}
    {% endif %}
  {% endblock pagetitle %}
{% endif %}

<!-- Get the Main Content -->
{% block content %}
<div class="row well">
  {{  page }}
</div>
<div class="row text-center">
{% for image in images %}
  <div class="col-sm-4 text-center">
    <img class="img-responsive well" src="{{ url_for('images.fit', filename=image, width=400) }}" />
  </div>
{% endfor %}
</div>
{% endblock content %}
