* {
  font-family: 'Press Start 2P', cursive;
  color: #46a4e8;
}
html, body {
  height: 100%;
}
body {
  background-color: #37474f;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}
.footer, .push {
  height: 100px;
  color: #ffffff;
}
h1 {
  font-size: 100;
}
h3 {
  font-size: 40;
}
p {
  font-size: 12;
  color: #ffffff;
}
