[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
pip = "*"
setuptools = "*"
"requests[security]" = "*"
beautifulsoup4 = "*"
lxml = "*"
passlib = "*"
ipy = "*"
"celery[redis]" = "*"
redis = "*"
boto = "*"
logzio-python-handler = "*"


[dev-packages]

