[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
ipython = "*"
"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
pip = "*"
setuptools = "*"
"requests[security]" = "*"
beautifulsoup4 = "*"
lxml = "*"
passlib = "*"
ipy = "*"
"celery[redis]" = "*"
redis = ">=2.10.3"
boto = "*"
"logzio-python-handler" = "*"
celery = ">=5.0.0"
"django-redis-cache" = ">=2.1"
hiredis = "*"
"django-memoize" = "*"
memoize = "*"
django = ">=3.1"
six = "*"

# Temp until PR finsihed and applied
tiltify2 = {git = "https://github.com/gpmidi/tiltify-v2-api-python.git", ref = "develop-v3", editable = true}

[dev-packages]
