pip>=9.0.1
setuptools==18.5
appdirs
Flask
Flask-FlatPages
Flask-Images
Flask-SQLAlchemy
Genshi
Jinja2
Pygments
gunicorn==19.4.5
SQLAlchemy==1.0.15
Werkzeug
uwsgi
requests[security]
beautifulsoup4
lxml==3.4
psycopg2==2.6.1
