pip>=9.0.1
setuptools>=18.5
appdirs
Flask
Flask-FlatPages
Flask-Images
Flask-SQLAlchemy
Flask-SSLify
flask-limiter
flask-login
Genshi
Jinja2
Pygments
gunicorn>=19.4.5
SQLAlchemy>=1.0.15
Werkzeug
uwsgi
requests[security]
beautifulsoup4
lxml
psycopg2-binary
alembic>=0.8.8
passlib>=1.6.5
ipy
celery[redis]>=3.1.23
redis>=2.10.5
flask-restful>=0.3.5
marshmallow>=2.10.1
ipython>=5.1.0
flask-caching
apscheduler
rq
Flask-Migrate>=1.8.0
Flask-Script
flask-wtf
boto
logzio-python-handler
