[uwsgi]
app_root = <path to repository>
socket = 127.0.0.1:8001
chdir = %(app_root)
home = %(app_root)/env
pythonpath = %(app_root)
vacuum = true
uid = <your uid>
gid = <your gid>
processes = 2
module = fragforce
callable = app
