* {
  font-family: 'Roboto Slab', serif;
  color: #ffffff;
}
html, body {
  height: 100%;
}
body {
  background-color: #37474f;
}
#left
{
    width: 800px;
    float: left
}
#right
{
    margin-left: 805px;
    /* Same as the width of the #left id above */
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer, .push {
  clear: both;
  height: 100px;
  color: #ffffff;
}
h1 {
  font-size: 100;
  font-family: 'Press Start 2P', cursive;
  color: #46a4e8;
}
h3 {
  font-size: 40;
  font-family: 'Press Start 2P', cursive;
  color: #46a4e8;
}
p {
  font-size: 12;
}
a {
  color: #46a4e8;
  text-decoration: none;
}
