{% extends "ff/base.html" %}

{% block title %}Active Streams{% endblock %}

{% block head %}
    <script src="http://cdn.dashjs.org/v3.1.0/dash.all.min.js"></script>
{% endblock %}

{% block body %}

    <div>
        {% for key in liveKeys %}
            <div class="col-lg border border-light rounded p-1 m-1 card">
                <h4><a href="/stream/play/{{ pullKey.id }}/{{ key.name }}">{{ key.name }}</a></h4>
            </div>
        {% endfor %}
    </div>

    <div>
        {% for stream in streams %}
            <div class="col-lg border border-light rounded p-2 m-2 card">
                <h2><a href="{{ stream.url }}">{{ stream.key.name }}</a></h2>
                <br/>
                <div>
                    <video autoplay="true" preload="none" controls="true" width="100%" muted="true">
                        <source src="{{ stream.url }}" type="application/dash+xml">
                    </video>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
