{% extends "ff/base.html" %}

{% block title %}Contact Us{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg">
        <div class="row">
            <div class="col-lg border border-light rounded p-3 m-4 card">
                <h2>Interested in an event or local group?</h2>
                Head to the sites menu above and select your local site.  By heading there you fill out our local contact forms
                and keep up to date on all upcoming events and information for your local chapter!
            </div>
        </div>
        <div class="row">
            <div class="col-lg border border-light rounded p-3 m-4 card">
                <h2>Not about a site or event?  We can still help!</h2>
                Salesforce Employees should head to the Fragforce Chatter group in Org62 to find a wealth of information,
                and a group of people more than happy to answer any questions you may have!
                <br />
                Non Salesforce Employees can contact us as well! 
                <br />
                <a href="https://discord.fragforce.org" rel="noopener noreferrer" target="_blank">Come join us on discord!</a>
                You can also email fragforce(at)salesforce.com if you'd prefer!
            </div>
        </div>
    </div>
    <div class="col-sm border border-light rounded p-3 m-4 card">
        <a href="/static/ffsite/images/minecraft.jpg">
            <img src="/static/ffsite/images/minecraft.jpg" width="100%">
        </a>
    </div>
</div>
{% endblock %}
