{% extends "ff/base.html" %}

{% block title %}Fragforce{% endblock %}

{% block body %}
<div class="row">
    <!-- <div class="col-lg border border-light rounded p-3 m-4 card"> -->
    <div class="col-lg p-3 m-4 card"> 
        <h2>What is Fragforce?</h2>
        <br />
        <div>
            Fragforce is the global charity gaming team started at Salesforce that is raising money to support kids facing
            scary stuff like social mistreatment, as well as medical issues such like cancer, cystic-fibrosis and 
            severe accidents.  By rallying our friends, family, and co-workers, we are creating a new philanthropic 
            tradition to support cross-team and community collaboration through a shared 
            love of gaming, all while assisting local hospitals.
        </div>
    </div>
    <!-- <div class="col-lg border border-light rounded p-3 m-4 card"> -->
    <div class="col-lg p-3 m-4 card">
        <a href="/static/ffsite/images/combined.jpg" class="align-middle">
            <img src="/static/ffsite/images/combined.jpg" width="100%">
        </a>
    </div>
</div>
<div class="row">
    <!-- <div class="col-lg border border-light rounded p-3 m-4 card"> -->
    <div class="col-lg p-3 m-4 card">
        <h2>Who is Fragforce supporting?</h2>
        <br />
        <a href="http://extra-life.org">
            <img src="/static/ffsite/images/ExtraLife_white.png" class="centerimage" height="80px">
        </a>
        <br />
        <div>
            Extra Life is a charity organization that is raising money to support Children's Miracle Network (CMN)
            hospitals across the country. Extra Life calls on gamers to pledge to play games for 24 hours, 
            and to solicit donations from their friends and family for CMN in the process.
        </div>
        <br />
        <a href="http://childplaycharity.org">
            <img src="/static/ffsite/images/childsplay_logo.jpg" class="centerimage" height="80px">
        </a>
        <br />
        <div>
            Child's Play is an international charity organization that seeks to improve the lives of children in
            hospitals and domestic violence shelters through the generosity and kindness of the video game 
            industry and the power of play.
        </div>
    </div>
    <!-- <div class="col-lg border border-light rounded p-3 m-4 card"> -->
    <div class="col-lg p-3 m-4 card">
        <h2>How can I donate?</h2>
        <br />
        <div>
            For folks in the US and Canada, we raise money through Extra Life for hospitals local to each chapter.
        </div>
        <div>
            If you are outside North America, we also have a campaign through Childs Play and Tiltify.
        </div>
        <div>
            <a href="/donate">Check out our donation page for more information!</a>    
        </div>
        <br />
        <h2>How can I help?</h2>
        <br />
        <div>
            Sign up to participate in an event and raise money to help save kid's lives!  In the US and Canada,
            our Extra Life team has branches all across North America, or you can join our global team and raise money 
            solo as well!
        </div>
        <div>
            International team members can raise money for Child's Play by joining our Tiltify Team, or sign up to help
            run or participate in an international Fragforce event.
        </div>
        <div>
            <a href="/join">Check our our join page for details!</a>
        </div>
    </div>
</div>

{% endblock %}
