<link rel="stylesheet" href="../../../static/ffsite/css/base.css">{% extends "ff/base.html" %}

{% block title %}Join Us{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg">
        <div class="row">
            <div class="col-lg border border-light rounded p-3 m-4 card">
                <h2>Want to play?  Join our Team!</h2>
                <div>
                    If you want to do more than just attend local Fragforce events, you can help make your own impact!
                </div>
                <div>
                    <b>In North America?  We have an Extra Life team!</b>
                    <ol>
                        <li>Create your own Extra Life account</li>
                        <ol>
                            <li>
                                Go to <a href="http://join.fragforce.org" target="_blank">join.fragforce.org</a> to sign up under Fragforce!
                            </li>
                            <li>
                                Classic accounts allow you to raise money for the Fragforce team, manage your own
                                donation page, and even keep in contact with your donators.
                            </li>
                            <li>
                                Premium accounts allow you to also receive free swag for reaching certain fundraising
                                milestones, and even a metal at the end of the year if you raise enough.
                            </li>
                        </ol>
                    </ol>
                    <b>Outside of the US, you can join our Tiltify Campaign</b>
                    <ol>
                        <li>Create your own Tiltify account</li>
                        <ol>
                            <li>
                                Go to <a href="https://tiltify.com/+fragforce/" target="_blank">Our Tiltify campaign page</a>
                                and click on the Support Campaign button at the bottom of the page.
                            </li>
                            <li>
                                Create or sign in to your Tiltify account to get started
                            </li>
                        </ol>
                    </ol>
                    Feel free to donate yourself to your account to get your account started (Salesforce employees, 
                    remember any donation over $50 will be matched by Salesforce!)
                    Talk to your family, friends, and coworkers to raise more money to help save more children's
                    lives! All donations are directly to a 501c3 charity organization.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg border border-light rounded p-3 m-4 card">
                <h2>Want to go bigger?  Create a Fragforce event!</h2>
                We are always interested in helping folks who would like to create group events, even if there isnt a 
                local chapter already.  Want to get started?  Check these steps out!
                <div>
                    <ol>
                        <li>
                            <a href="{% url 'contact' %}">Contact us</a> first, we will be happy to meet with
                            you to pass on our expertise in these events, as well as to make sure your event
                            is publicized and as good as we can make it
                        </li>
                        <li>
                            After meeting with the Elder Council, assemble a team of enthusiastic people in your
                            office who will be in charge of coordinating with the Elder Council and running the event
                        </li>
                        <li>
                            Determine a date for your event, at least 2 months in the future to account for planning
                            and lead time
                        </li>
                        <li>
                            Work closely with the Elder Council to promote your event and help as many kids as possible!
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm border border-light rounded p-3 m-4 card" style="display: flex; justify-content: center;">
        <a href="/static/ffsite/images/devops.jpg">
            <img src="/static/ffsite/images/devops.jpg" width="100%">
        </a>
    </div>
</div>
{% endblock %}
