{% extends "ff/base.html" %}

{% block title %}Stream{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg">
            <div class="row">
                <div class="col-lg border border-light rounded p-3 m-4 card">
                    <h2>Interested In Watching Our Live Stream?</h2>
                    <p>Head over to <a href="http://twitch.tv/fragforce">http://twitch.tv/fragforce</a>!</p>
                </div>
            </div>
        </div>
        <div class="col-sm border border-light rounded p-3 m-4 card">
            <h2>Streaming Schedule (US/East)</h2>
            <iframe title="Google Calendar of Fragforce live stream schedule" style="border-width: 0;"
                    src="{{ stream_url }}" width="900" height="917" frameborder="0"
                    scrolling="no"></iframe>
        </div>
    </div>
{% endblock %}
