{% extends "ff/base.html" %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg">
        <h2>{{ event.name }}</h2>
        <div>
            <div>{{ event.site.name }}</div>
            <div>Start: {{ event.event_start_date}}</div>
            <div>End: {{ event.event_end_date}}</div>
            <div>
                {% if event.volunteerforce_link %}
                <a href="{{ event.volunteerforce_link }}">Volunteer Force Event</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
