{% extends "ff/base.html" %}

{% block title %}Fragforce Events{% endblock %}


{% block body %}

{% for event in events %}
{% if loop.counter0 % 3 == 0 %}
<div class="row">
    {% endif %}
    <div class="col-lg">
        <h2><a href="{% url 'org_event' sfid=event.sfid %}">{{ event.name }}</a></h2>
        <div>

        </div>
    </div>
    {% if loop.counter0 % 3 == 0 %}
</div>
{% endif %}
{% empty %}
<div class="row">
    <div class="col-sm">
        <h2>None</h2>
        <div>
            No events :(
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}