{% extends "ff/base.html" %}

{% block title %}Fragforce Events{% endblock %}


{% block body %}

{% for event in events %}
{% if forloop.first or forloop.counter0|divisibleby:3 %}
<div class="row">
    {% endif %}
    <div class="col-lg">
        <div class="well well-sm">
            <h2><a href="{% url 'org_event' sfid=event.sfid %}">{{ event.name }}</a></h2>
            <div>
                <ul>
                    <li>Site: {{ event.site.name }}</li>
                    <li>Date: {{ event.event_start_date}} to {{ event.event_end_date}}</li>
                    {% if event.volunteerforce_link %}
                    <li><a href="{{ event.volunteerforce_link }}">Volunteer Force Event</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% if forloop.last or forloop.counter|divisibleby:3 %}
</div>
{% endif %}
{% empty %}
<div class="row">
    <div class="col-sm">
        <h2>None</h2>
        <div>
            No events :(
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}