{% extends "ff/base.html" %}

{% block title %}Fragforce Events{% endblock %}


{% block body %}

{% for event in events %}
{% if forloop.first or forloop.counter0|divisibleby:3 %}
<div class="row">
    {% endif %}
    <div class="col-lg">
        <div class="card-deck">
            <div class="card-header">
                <a href="{% url 'org_event' sfid=event.sfid %}">{{ event.name }}</a>
            </div>
            <div class="card-body">
                <div>{{ event.site.name }}</div>
                <div>{{ event.event_start_date}}<br>
                    =><br>
                    {{ event.event_end_date}}
                </div>
                <div>
                    {% if event.volunteerforce_link %}
                    <a href="{{ event.volunteerforce_link }}">Volunteer Force Event</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if forloop.last or forloop.counter|divisibleby:3 %}
</div>
{% endif %}
{% empty %}
<div class="row">
    <div class="col-sm">
        <div class="card-deck">
            <div class="card-header">None</div>
            <div class="card-body">
                No events :(
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}