{% extends 'base.html' %}
{% block title %}How to Donate{% endblock %}
{% block content %}
<h3>Donating to Fragforce via Extra-Life (US and Canada only)</h3>

<div>
    <ul>
        <li>Go to <a href="{{random_participant}}">{{extralife_link}}</a></li>
        <li>Alternatively, instead of donating to someone else, you can <a href="{{ url_for('general.join') }}">Join the
            team</a> and raise money yourself!
        </li
        <li>You can donate to a user of your choice using <a href="{{extralife_link}}">{{extralife_link}}</a></li>
    </ul>
</div>

<h3>Donating to Fragforce via Child's Play (International)</h3>
<div>
    <ul>
        <li>Go to the <a href="https://tiltify.com/events/fragforce-fy18">FY18 Campaign</a> and click "Donate Now"
            button, you can register on Tiltify or donate anonymously.
        </li>
        <li>Pay via PayPal.</li>
        <li>Pat yourself on the back for helping make kid's lives better!</li>
        <li>Alternatively go to our <a href="{{childsplay_link}}">Tiltify Team</a> page and click "Join Us", you'll need
            to register on the site and confirm the login.
        </li>
        <li>Then donate to the <a href="https://tiltify.com/events/fragforce-fy18">FY18 Campaign</a>.
    </ul>
</div>
{% endblock %}
