{% extends 'base.html' %}
{% block title %}Fragforce{% endblock %}

{% block pagetitle %}{% endblock %}

{% block alert %}
{# {% include 'layouts/central-alert.html' %} #}
{% endblock alert %}

{% block content %}
  <div class="text-center">

    <div class="well well-md">
      <h3>Who we are</h3>
      <p>Fragforce is the global charity gaming team from Salesforce that is raising money to support kids facing scary stuff like social mistreatment and medical issues (i.e. cancer, cystic-fibrosise, accidents, etc). By rallying our friends, family, and co-workers, we are creating/facilitating a new philanthropic tradition to boost employee morale and support cross-team and community collaboration through a shared love of gaming.</p>
    </div>

    <div class="well well-md">
      <h3>Who we are supporting</h3>
      <p>Extra Life is a charity organization that is raising money to support Children's Miracle Network (CMN) hospitals across the country. Extra Life helps games to pledge to play games for 24 hours, and to solicit donations from their families and friends for CMN in the process.</p>
      <p>Child's Play is an international charity organization that seeks to improve the lives of children in hospitals and domestic violence shelters through the generosity and kindness of the video game industry and the power of play.</p>
    </div>

    <div class="well well-md">
      <h3>How can I donate?</h3>
      <p>Make a donation to Fragforce's Extra Life team by visiting the Extra Life page and searching for Fragforce, or just go to <a href='http://team.fragforce.org'>team.fragforce.org</a></p>
      <p>Make a donation to Fragforce's Child's Play donation drive by visiting our <a href="https://donate.childsplaycharity.org/a452b820a2be5af7bafe5188a0b8337f">donation page</a></p>
    </div>

    <div class="well well-md">
      <h3>How can I help?</h3>
      <p>Sign up to participate in an event and raise money as you can to save kid's lives! Simply click the 'Join Team' link on the Extra Life team page for Fragforce at <a href='http://team.fragforce.org'>team.fragforce.org</a></p>
      <p>International team members can raise money for Child's Play, and sign up to help run or participate in an international Fragforce event</p>
    </div>

  </div>
{% endblock content %}
