{% extends 'base.html' %}
{% block title %}Join Us{% endblock %}
{% block content %}
  <h3>Joining Fragforce's Extra-Life team</h3>
  <p>
    <ul>
      <li>Go to <a href="http://join.fragforce.org">join.fragforce.org</a></li>
      <li>Create an account</li>
      <ul>
        <li>Classic accounts allow you to raise money for the Fragforce team.</li>
        <li>Premium accounts allow you to receive free swag for reaching certain fundraising milestones ($200 gets you a T-Shirt for example</li>
      </ul>
      <li>Feel free to donate yourself to your account to get it started, if it's at least $25, Salesforce will match it 100% for employees</li>
      <li>Talk to your family, friends, and coworkers to raise more money to help save more children's lives! All donations are directly to a 501c3 charity organization.</li>
    </ul>
  </p>
  <h3>Creating a Fragforce Event</h3>
  <p>If there isn't a Fragforce event scheduled yet in your office, follow these steps so that we can coordinate with you as much as possible in advance of, and in support of, your event.
  <ul>
    <li><a href="{{ url_for('general.contact') }}">Contact us</a> first, we will be happy to meet with you to pass on our expertise in these events, as well as to make sure your event is publicized and as good as we can make it</li>
    <li>After meeting with the Elder Council, assemble a team of enthusiastic people in your office who will be in charge of coordinating with the Elder Council and running the event</li>
    <li>Determine a date for your event, at least 2 months in the future to account for planning and lead time</li>
    <li>Work closely with the Elder Council to promote your event and help as many kids as possible!</li>
  </ul>
  </p>
{% endblock %}
