{% extends "ff/base.html" %}

{% block title %}Fragforce Sites{% endblock %}


{% block body %}
{% for site in sites %}
{% if forloop.first or forloop.counter0|divisibleby:3 %}
<div class="row">
    {% endif %}
    <div class="col-sm-4">
        <a href="{% url 'org_site' sfid=site.sfid %}"><h2>{{ site.name }}</h2></a>
        <div>
            {{ site.description }}
        </div>
    </div>
    {% if forloop.last or forloop.counter|divisibleby:3 %}
</div>
{% endif %}
{% empty %}
<div class="row">
    <div class="col-sm-4">
        <h2>None</h2>
        <div>
            No Sites :(
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}