{% extends "ff/base.html" %}

{% block title %}{{ site.name }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12 border border-light rounded p-3 m-4 card">
        <h1>{{ site.name }}</h1>
        <div>
            {{ site.description }}
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-12 border border-light rounded p-3 m-4 card">
        <h2>Upcoming Events</h2>
        <div></div>
    </div>
</div>
{% for event in site.upcoming %}
{% if forloop.first or forloop.counter0|divisibleby:3 %}
<div class="row">
    {% endif %}
    <div class="col-sm-4 border border-light rounded p-3 m-4 card">
        <a href="{% url 'org_event' sfid=event.sfid %}"><h3>{{ event.name }}</h3></a>
        <div>
            <div>{{ event.site.name }}</div>
            <div>{{ event.event_start_date}}<br>
                =><br>
                {{ event.event_end_date}}
            </div>
            <div>
                {% if event.volunteerforce_link %}
                <a href="{{ event.volunteerforce_link }}">Volunteer Force Event</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if forloop.last or forloop.counter|divisibleby:3 %}
</div>
{% endif %}
{% empty %}
<div class="row">
    <div class="col-sm-4 border border-light rounded p-3 m-4 card">
        <h3>None</h3>
        <div>
            No Events :(
        </div>
    </div>
</div>
{% endfor %}

<hr>

<div class="row">
    <div class="col-lg-12 border border-light rounded p-3 m-4 card">
        <h2>Past Events</h2>
        <div></div>
    </div>
</div>

{% for event in site.past %}
{% if forloop.first or forloop.counter0|divisibleby:3 %}
<div class="row">
    {% endif %}
    <div class="col-sm-4 border border-light rounded p-3 m-4 card">
        <a href="{% url 'org_event' sfid=event.sfid %}"><h3>{{ event.name }}</h3></a>
        <div>
            <div>{{ event.site.name }}</div>
            <div>{{ event.event_start_date}}<br>
                =><br>
                {{ event.event_end_date}}
            </div>
            <div>
                {% if event.volunteerforce_link %}
                <a href="{{ event.volunteerforce_link }}">Volunteer Force Event</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if forloop.last or forloop.counter|divisibleby:3 %}
</div>
{% endif %}
{% empty %}
<div class="row">
    <div class="col-sm-4 border border-light rounded p-3 m-4 card">
        <h3>None</h3>
        <div>
            No Events :(
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
