{% extends "ff/base.html" %}

{% block title %}{{ site.name }}{% endblock %}

{% block body %}

Name: {{ site.name }}

<div>
    <h2>Upcoming</h2>
    {% for event in site.events.upcoming %}
    <div>
        <h3>{{ event.name }}</h3>
        <div>
            FIXME
        </div>
    </div>
    {% else %}
    <div>None</div>
    {% endfor %}
</div>
<div>
    <h2>Past</h2>
    {% for event in site.events.past %}
    <div>
        <h3>{{ event.name }}</h3>
        <div>
            FIXME
        </div>
    </div>
    {% else %}
    <div>None</div>
    {% endfor %}
</div>
{% endblock %}
