<!DOCTYPE html>
<html lang='en'>
  <head>
    {% block head %}
    <link rel='stylesheet' href="{{ url_for('static', filename='css/fragforce.css') }}" />
    <link rel='stylesheet' href="{{ url_for('static', filename='css/menu.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
  <div class='wrapper'>
    <div class='header'>
      <div id='cssmenu'>
      <ul>
        <li><a href="{{ url_for('general.index') }}"><span>Home</span></a></li>
        <li><a href="{{ url_for('general.donate') }}"><span>Donate</span></a></li>
        <li><a href="{{ url_for('general.join') }}"><span>Join</span></a></li>
        <li class='has-sub'><a href="#"><span><Events></span></a>
          <ul>
            <li><a href="{{ url_for('events.index') }}"><span>All Events</span></a></li>
            <li><a href="#"><span>Upcoming</span></a></li>
            <li class='last'><a href="#"><span>Past</a></li>
          </ul>
        </li>
        <li class='last'><a href="{{ url_for('general.contact') }}"><span>Contact</span></a></li>
      </ul>
      </div>
      <hr><br />
      {% block header %}{% endblock %}
    </div>
    {% block content %}{% endblock %}
    <div class='push'></div>
  </div>
  <div class='footer'>
    {% block footer %}
    &copy; 2016 by Fragforce Elder Council
    {% endblock %}
  </div>
  </body>
</html>
