{% extends 'base.html' %}
{% block title %}Fragforce{% endblock %}
{% block content %}
  <object type='image?svg+xml' data="{{ url_for('static', filename='fragforce_basic.svg') }}" width='800'><img src="{{ url_for('static', filename='fragforce_basic.png') }}" /></object>
  <h3>Who we are</h3>
  <p>Fragforce is the Extra Life team from Salesforce that is raising money to support charity, and creating/facilitating a new philanthropic tradition to boost employee morale, and to support cross-team collaboration through a shared love of gaming.</p>
  <h3>Who we are supporting</h3>
  <p>Extra Life is a charity organization that is raising money to support Children's Miracle Network (CMN) hospitals across the country. Extra Life helps games to pledge to play games for 24 hours, and to solicit donations from their families and friends for CMN in the process.</p>
  <h3>How can I donate?</h3>
  <p>Make a donation to Fragforce's team by visiting the Extra Life page and searching for Fragforce, or just go to <a href='http://team.fragforce.org'>team.fragforce.org</a></p>
  <h3>How can I help?</h3>
  <p>Sign up to participate in the event and raise money as you can to save kid's lives! Simply click the 'Join Team' link on the Extra Life team page for Fragforce at <a href='http://team.fragforce.org'>team.fragforce.org</a></p>
  <h3>Where can I find out more?</h3>
  <p>Search Fragforce in Org62, or email fragforce@salesforce.com for more information</p>
{% endblock %}
