{% extends 'base.html' %}
{% block title %}Join Us{% endblock %}
{% block content %}
  <h1>Joining Fragforce</h1>
  <p>
    <ul>
      <li>Go to <a href="http://team.fragforce.org">team.fragforce.org</a></li>
      <li>Click on the "Join Our Team" link.</li>
      <li>Create an account</li>
      <ul>
        <li>Classic acocunts allow you to raise money for the Fragforce team.</li>
        <li>Premium accounts allow you to receive free swag for reaching certain fundraising milestones ($200 gets you a T-Shirt for example</li>
      </ul>
      <li>Feel free to donate yourself to your account to get it started, if it's at least $25, Salesforce will match it 100% for employees</li>
      <li>Talk to your family, friends, and coworkers to raise more money to help save more children's lives! All donations are directly to a 501c3 charity organization.</li>
    </ul>
{% endblock %}
