<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block head %}{% endblock %}
    <title>{% block title %}Fragforce{% endblock %}</title>
</head>
<body>
<div class="container">
    <!-- Header -->
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'donate' %}">Donate</a></li>
        <li><a href="{% url 'join' %}">Join</a></li>
        <li><a href="{% url 'org_events' %}">All Events</a></li>
        <li>
            <a href="{% url 'org_events_upcoming' %}">Upcoming Events</a>
            <ul>
                {% for event in upcoming_events %}
                <li><a href="{% url 'org_event' sfid=event.sfid %}">{{ event.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <a href="{% url 'org_sites' %}">Sites</a>
            <ul>
                {% for site in allsites %}
                <li><a href="{% url 'org_site' sfid=site.sfid %}">{{ site.name }}</a>
                    {% if site.has_events %}
                    <i>**</i>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
<div class="card-footer text-muted">
    {% block footer %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
