<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
    <title>{% block title %}Fragforce{% endblock %}</title>
</head>
<body>
<div>
    <!-- Header -->
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'donate' %}">Donate</a></li>
        <li><a href="{% url 'join' %}">Join</a></li>
        <li><a href="{% url 'org_events' %}">Events</a></li>
        <li>
            <a href="{% url 'org_sites' %}">Sites</a>
            <ul>
                {% for site in allsites %}
                <li><a href="{% url 'org_site' sfid=site.sfid %}">{{ site.name }}</a>
                    {% if site.has_events %}
                    <i>**</i>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<div>
    {% block body %}{% endblock %}
</div>
<div>
    {% block footer %}{% endblock %}
</div>

</body>
</html>
