<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
    <title>{% block title %}Fragforce{% endblock %}</title>
</head>
<body>
<div>
    <!-- Header -->
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/events">Events</a></li>
        <li>
            <a href="/site">Sites</a>
            <ul>
                {% for site in allsites %}
                <li><a href="{% url 'org_site' sfid=site.sfid %}">{{ site.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<div>
    {% block body %}{% endblock %}
</div>
<div>
    {% block footer %}{% endblock %}
</div>

</body>
</html>
